@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    background-image: linear-gradient(to right,rgb(50,50,50),rgb(25,25,25));
    background-size: 400%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    --color1:rgb(221,205,192);
    zoom: 90%;
}

body{
    
    display: grid;
    grid-template-rows: 0.8fr 3fr 1fr 0.75fr;
    align-content: center;
    max-height: fit-content;
    /* min-width: 300px; */
    color: var(--color1);
    margin: 70px 100px;
    margin-bottom: 50px;
    /* border: 1px solid red;  */
    box-sizing: border-box;
}

#profile-image{
    border-radius: 50%;
    filter: grayscale(50%);
    transition: 1s; 
}
#profile-image:hover{
    filter: grayscale(0%);
}

a{
    color: var(--color1);
    cursor: pointer;
}
a:hover{
    color: white;
}

#github-head{
    color: white;
    cursor: pointer;
}
#github-head:hover{
    color: gray;
}
#mail-logo{
    font-size: 35px;
}
#codewars-logo{
    filter: invert(23%) sepia(99%) saturate(1446%) hue-rotate(347deg) brightness(65%) contrast(93%);
}

/*border */

header,/*  .main, */ footer{
    border-bottom:1px solid var(--color1);
}

header{
    border-top: 1px solid gray;
}



.main>div{
    border: 1px solid wheat;
}


header{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-bottom: 30px;
}
    h2{
        font-size: 20pt;
    }
    .image-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .name-cont{
            position: absolute;
            top: 4%;
            left: 7%;
            font-size: 20pt;
           
        }

        #role-head{
            font-size: 16pt;
            font-weight: 100;
            padding-top: 10px;

        }
    .profile-desc{
        padding: 20px;

        display: grid;
    }
    .dashboard{
        position: absolute;
        top: 4%;
        right:7%;
        display: flex;
        gap: 20px;
    }

    .dashboard>div{
        font-size: 15pt;
    }
    .dashboard>div>a{
        color: var(--color1);
        text-decoration: none;
    }
        .profile-upper{
            display: flex;
            justify-content: space-between;
        }
        
        #light-mode{
            font-size: 30pt;
        }

        .desc-bottom{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            padding-right: 20px;
        }

.main{
    padding: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, minmax(300px, 5fr));
    grid-template-rows: repeat(3,6fr); 
    gap: 100px;
   
}

    .project-box{
    
    display: grid;
    grid-template-rows: 2fr 1fr;
    
    }
        .project-sc{
            padding: 30px;
            background-color: rgb(25,25,25);
        }
        .project-img{
            max-width: 100%;
            max-height: 100%;
        }

        .project-detail{
           background-color: bisque;
           display: grid;
           grid-template-columns: 2fr 1fr;
           padding: 30px;
           color: black;
        }
            .project-link{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
            }

.mystack-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
    .mystack-header{
        font-size: 20pt;
    }

    .mystack-cont{
        display: grid;
        grid-template-rows: repeat(3,70px);
        grid-template-columns: repeat(4,70px);
        gap: 30px;
    }
    .mystack-cont>div{
     display: grid;
     grid-template-rows: repeat(2,1fr);
     place-items: center;
    }
    .mystack-cont>div>img{
     height: 48px;
     width: 48px;
    }
    .mystack-cont>img{
        padding-left: 20px;
        padding-right: 20px;
       
    }
    .caption{
       transition: 1s;
       display: none;
    }

footer{
  /*   max-height: 300px; */
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.footer-content{
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
   padding-left: 20px;
}
    .fc-row1{
       display: flex;
       align-items: center;
        font-size: 20pt;
    }

    .fc-row2{
        display: flex;
        align-items: flex-start;
        font-size: 15pt;
    }
    .fc-row3{
        display: flex;
        align-items: flex-start;
        font-size: 20pt;
        
    }
        #contact-btn{
            font-size: 15pt;
            background-color: #55a8e0bd;
            color: white;
            border-radius: 15px;
            border: none;
            padding: 12px 15px;
        }
        #contact-btn:hover{
            background-color: white;
            color: #55a8e0bd;
        }
    
@media(max-width: 600px){
    
    body{
      margin: 25px 25px;
      
    }

    header{
        grid-template-rows: 3fr 2fr;
        grid-template-columns: none;
        padding-top: 0;
        padding-bottom: 0;
    }
 
    .main{
        grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(6,6fr);
    padding: 25px;
    }

    .mystack-cont{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    

    footer{
        grid-template-rows: 2fr 3fr;
        grid-template-columns: none;
    }
}


 @media(max-width: 1200px) and (min-width:601px){
    body{
        margin: 25px 50px;
        
      }
   
     /*  header{
          grid-template-rows: 3fr 2fr;
          grid-template-columns: none;
          padding-top: 0;
          padding-bottom: 0;
      } */
  
          
      .main{
          grid-template-columns: repeat(2, 5fr);
      grid-template-rows: repeat(3,6fr);
      padding: 50px;
      }
}
 