@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    background-image: linear-gradient(to right,rgb(50,50,50),rgb(25,25,25));
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

body{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 0.75fr;
    max-height: fit-content;
    /* min-width: 300px; */
    margin: 50px 100px;
    margin-bottom: 50px;
    /* border: 1px solid red;  */
    box-sizing: border-box;
}

a{
    color: black;
    cursor: pointer;
}
a:hover{
    color: white;
}

#github-head{
    color: white;
    cursor: pointer;
}
#github-head:hover{
    color: gray;
}

/*border */

header,/*  .main, */ footer{
    border-bottom:1px solid gray;
}

header{
    border-top: 1px solid gray;
}

/* header>div{
    border: 1px solid gray;
}
 */
.main>div{
    border: 1px solid wheat;
}

/* footer>div{
    border: 1px solid blue;
} */
/* border */

header{
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* padding-top: 50px; */
    padding-bottom: 50px;
}
    h2{
        font-size: 20pt;
    }
    .image-cont{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-desc{
        padding: 20px;
        display: grid;
    }
        .profile-upper{
            display: flex;
            justify-content: space-between;
        }
        

        .desc-bottom{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            padding-right: 20px;
        }

.main{
    padding: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, minmax(300px, 5fr));
    grid-template-rows: repeat(2,6fr); 
    gap: 100px;
   
}

    .project-box{
    
    display: grid;
    grid-template-rows: 2fr 1fr;
    
    }
        .project-sc{
            padding: 30px;
        }

        .project-detail{
           background-color: bisque;
           display: grid;
           grid-template-columns: 2fr 1fr;
           padding: 30px;
           color: black;
        }
            .project-link{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
            }

.mystack-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
    .mystack-header{
        font-size: 20pt;
    }

    .mystack-cont{
        
    }
    .mystack-cont>img{
        padding-left: 20px;
        padding-right: 20px;
       
    }

footer{
  /*   max-height: 300px; */
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.footer-content{
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
   padding-left: 20px;
}
    .fc-row1{
       display: flex;
       align-items: center;
        font-size: 20pt;
    }

    .fc-row2{
        display: flex;
        align-items: flex-start;
        font-size: 15pt;
    }
    .fc-row3{
        display: flex;
        align-items: flex-start;
        font-size: 20pt;
        
    }
        #contact-btn{
            font-size: 15pt;
            background-color: #55a8e0bd;
            color: white;
            border-radius: 15px;
            border: none;
            padding: 12px 15px;
        }
        #contact-btn:hover{
            background-color: white;
            color: #55a8e0bd;
        }
    
@media(max-width: 600px){
    
    body{
      margin: 25px 25px;
      
    }

    header{
        grid-template-rows: 3fr 2fr;
        grid-template-columns: none;
        padding-top: 0;
        padding-bottom: 0;
    }

        
    .main{
        grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(6,6fr);
    padding: 25px;
    }

    .mystack-cont{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    

    footer{
        grid-template-rows: 2fr 3fr;
        grid-template-columns: none;
    }
}


 @media(max-width: 1200px) and (min-width:601px){
    body{
        margin: 25px 50px;
        
      }
   
     /*  header{
          grid-template-rows: 3fr 2fr;
          grid-template-columns: none;
          padding-top: 0;
          padding-bottom: 0;
      } */
  
          
      .main{
          grid-template-columns: repeat(2, 5fr);
      grid-template-rows: repeat(3,6fr);
      padding: 50px;
      }
}
 